---
http_interactions:
- request:
    method: post
    uri: http://nsidr.org:8080/objects/?suffix=1a0beb212baaede1c10c&type=Digital%20Specimen
    body:
      encoding: UTF-8
      string: '{"id":"","creator":"","midslevel":2,"scientificName":"Lissotriton vulgaris
        (Linnaeus, 1758)","commonName":"Smooth newt","country":"Netherlands","locality":"Zuid-Holland,
        Voorschoten","decimalLat/Long":[],"recordedBy":"R. de Ruiter","collectionDate":"2008-09-02","catalogNumber":"RMNH.RENA.38646","otherCatalogNumbers":"","institutionCode":"RMNH","collectionCode":"Amphibia
        and Reptilia","stableIdentifier":"http://data.biodiversitydata.nl/naturalis/specimen/RMNH.RENA.38646","physicalSpecimenId":"RMNH.RENA.38646","identifier":"20.5000.1025/RMNH.RENA.38646"}'
    headers:
      Authorization:
      - Basic ABCdEFghiJklm1Pqr2T3Vwx4
      Content-Type:
      - text/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Object already exists: 20.5000.1025/1a0beb212baaede1c10c"}'
  recorded_at: Mon, 18 Mar 2019 12:29:06 GMT
recorded_with: VCR 4.0.0
