---
http_interactions:
- request:
    method: post
    uri: http://nsidr.org:8080/objects/?suffix=RMNH.RENA.38646&type=Digital%20Specimen
    body:
      encoding: UTF-8
      string: '{"id":"","creator":"","midslevel":2,"scientificName":"Lissotriton vulgaris
        (Linnaeus, 1758)","commonName":"Smooth newt","country":"Netherlands","locality":"Zuid-Holland,
        Voorschoten","decimalLat/Long":[],"recordedBy":"R. de Ruiter","collectionDate":"2008-09-02","catalogNumber":"RMNH.RENA.38646","otherCatalogNumbers":"","institutionCode":"RMNH","collectionCode":"Amphibia
        and Reptilia","stableIdentifier":"http://data.biodiversitydata.nl/naturalis/specimen/RMNH.RENA.38646","physicalSpecimenId":"RMNH.RENA.38646","identifier":"20.5000.1025/RMNH.RENA.38646"}'
    headers:
      Authorization:
      - Basic ABCdEFghiJklm1Pqr2T3Vwx4
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/objects/20.5000.1025/RMNH.RENA.38646"
      X-Schema:
      - Digital Specimen
    body:
      encoding: UTF-8
      string: '{"id":"20.5000.1025/RMNH.RENA.38646","creator":"20.5000.1025/1517d545cc11283e2360","midslevel":2,"scientificName":"Lissotriton
        vulgaris (Linnaeus, 1758)","commonName":"Smooth newt","country":"Netherlands","locality":"Zuid-Holland,
        Voorschoten","decimalLat/Long":[],"recordedBy":"R. de Ruiter","collectionDate":"2008-09-02","catalogNumber":"RMNH.RENA.38646","otherCatalogNumbers":"","institutionCode":"RMNH","collectionCode":"Amphibia
        and Reptilia","stableIdentifier":"http://data.biodiversitydata.nl/naturalis/specimen/RMNH.RENA.38646","physicalSpecimenId":"RMNH.RENA.38646","identifier":"20.5000.1025/RMNH.RENA.38646"}'
  recorded_at: Wed, 24 Apr 2019 12:09:52 GMT
recorded_with: VCR 4.0.0
