---
http_interactions:
- request:
    method: post
    uri: http://nsidr.org:8080/objects/?suffix=new_ds_test&type=Digital%20Specimen
    body:
      encoding: UTF-8
      string: '{"id":"","creator":"","midslevel":2,"scientificName":"newt","country":"uk","locality":"wales","decimalLatLong":[],"recordedBy":"abraham","collectionDate":"","catalogNumber":"002","otherCatalogNumbers":"00222","institutionCode":"CU","collectionCode":"CU0001","stableIdentifier":"SI0002","physicalSpecimenId":"none","Determinations":""}'
    headers:
      Authorization:
      - Basic YWJyYWhhbTpkc3Rlc3Q1Njc4
      Content-Type:
      - text/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message":"Object already exists: 20.5000.1025/new_ds_test"}'
  recorded_at: Sun, 17 Mar 2019 12:37:01 GMT
recorded_with: VCR 4.0.0
