---
http_interactions:
- request:
    method: post
    uri: http://nsidr.org:8080/objects/?suffix=BMNHE1613533&type=Digital%20Specimen
    body:
      encoding: UTF-8
      string: '{"id":"","creator":"","midslevel":2,"scientificName":"Scotopteryx luridata
        plumbaria (Fabricius, 1775)","commonName":"July belle","country":"United Kingdom","locality":"","decimalLat/Long":[],"recordedBy":"Reverend
        J H. Vine Hall ","collectionDate":"1955-07-11","catalogNumber":"BMNH(E)1613533
        ","otherCatalogNumbers":"NHMUK:ecatalogue:6913691","institutionCode":"NHMUK","collectionCode":"BMNH(E)
        (Entomology)","stableIdentifier":"https://data.nhm.ac.uk/object/50d0cc49-eba6-4868-b633-ad547de0d3f7/1556150400000","physicalSpecimenId":"BMNH(E)1613533
        ","identifier":"BMNHE1613533"}'
    headers:
      Authorization:
      - Basic YWJyYWhhbTpjb3JkcmExMjM0
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/objects/20.5000.1025/BMNHE1613533"
      X-Schema:
      - Digital Specimen
    body:
      encoding: UTF-8
      string: '{"id":"20.5000.1025/BMNHE1613533","creator":"20.5000.1025/1517d545cc11283e2360","midslevel":2,"scientificName":"Scotopteryx
        luridata plumbaria (Fabricius, 1775)","commonName":"July belle","country":"United
        Kingdom","locality":"","decimalLat/Long":[],"recordedBy":"Reverend J H. Vine
        Hall ","collectionDate":"1955-07-11","catalogNumber":"BMNH(E)1613533 ","otherCatalogNumbers":"NHMUK:ecatalogue:6913691","institutionCode":"NHMUK","collectionCode":"BMNH(E)
        (Entomology)","stableIdentifier":"https://data.nhm.ac.uk/object/50d0cc49-eba6-4868-b633-ad547de0d3f7/1556150400000","physicalSpecimenId":"BMNH(E)1613533
        ","identifier":"BMNHE1613533"}'
  recorded_at: Mon, 29 Apr 2019 13:43:52 GMT
recorded_with: VCR 4.0.0
