---
http_interactions:
- request:
    method: get
    uri: http://nsidr.org:8080/objects/20.5000.1025/B100003484?full=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Permission:
      - READ
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/objects/20.5000.1025/B100003484"
      X-Schema:
      - Digital Specimen
    body:
      encoding: ASCII-8BIT
      string: '{"id":"20.5000.1025/B100003484","type":"Digital Specimen","content":{"id":"20.5000.1025/B100003484","creator":"20.5000.1025/60c6d277a8bd81de7fdd","midslevel":2,"scientificName":"Agathis
        palmerstonii (F.Muell.)","country":"Australia","locality":"Queensland","decimalLat/Long":[],"recordedBy":"F.M.Bailey","collectionDate":"1932-04-08","catalogNumber":"B
        10 0003484","otherCatalogNumbers":"","institutionCode":"B","collectionCode":"Australia:
        Queensland","stableIdentifier":"http://herbarium.bgbm.org/object/B100003484","physicalSpecimenId":"B
        10 0003484","Determinations":"Yes"},"metadata":{"createdOn":1556103411020,"createdBy":"20.5000.1025/60c6d277a8bd81de7fdd","modifiedOn":1556103411020,"modifiedBy":"20.5000.1025/60c6d277a8bd81de7fdd","txnId":13}}'
  recorded_at: Tue, 30 Apr 2019 23:04:44 GMT
- request:
    method: get
    uri: http://nsidr.org:8080/schemas/Digital%20Specimen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"object","title":"Digital Specimen","required":["id","midslevel","scientificName","physicalSpecimenId","institutionCode"],"properties":{"id":{"type":"string","cordra":{"type":{"autoGeneratedField":"handle","prependHandleMintingConfigPrefix":true},"preview":{"showInPreview":true}}},"creationdatetime":{"type":"string","cordra":{"type":{"autoGeneratedField":"creationDate"}}},"creator":{"type":"string","cordra":{"type":{"autoGeneratedField":"createdBy"}}},"midslevel":{"type":"integer","minimum":1,"maximum":3},"scientificName":{"type":"string","maxLength":128,"title":"Scientific
        name","cordra":{"preview":{"showInPreview":true,"isPrimary":true}}},"commonName":{"type":"string","maxLength":128,"title":"Common
        name","cordra":{"preview":{"showInPreview":true}}},"country":{"type":"string","title":"Country","cordra":{"preview":{"showInPreview":true}}},"locality":{"type":"string","title":"Locality","cordra":{"preview":{"showInPreview":true}}},"decimalLat/Long":{"type":"array","properties":{"latitude":{"type":"number","minimum":-90,"maximum":90},"longitude":{"type":"number","minimum":-180,"maximum":180}},"title":"Lat/Long","cordra":{"preview":{"showInPreview":false}}},"recordedBy":{"type":"string","title":"Recorded
        by","cordra":{"preview":{"showInPreview":true}}},"collectionDate":{"type":"string","title":"Collection
        date","cordra":{"preview":{"showInPreview":true}}},"catalogNumber":{"type":"string","title":"Catalog
        number","cordra":{"preview":{"showInPreview":false}}},"otherCatalogNumbers":{"type":"string","title":"Other
        catalog numbers","cordra":{"preview":{"showInPreview":false}}},"institutionCode":{"type":"string","title":"Institution
        code","cordra":{"preview":{"showInPreview":true}}},"collectionCode":{"type":"string","title":"Collection
        code","cordra":{"preview":{"showInPreview":true}}},"stableIdentifier":{"type":"string","format":"uri","title":"CETAF
        stable identifier (uri)","cordra":{"preview":{"showInPreview":false}}},"physicalSpecimenId":{"type":"string","title":"Physical
        specimen identifier","cordra":{"preview":{"showInPreview":false}}},"Determinations":{"type":"string","title":"Determinations","cordra":{"preview":{"showInPreview":false}}},"other
        Keywords":{"type":"string","title":"other Keywords","cordra":{"preview":{"showInPreview":false}}},"catOfLifeReference":{"type":"string","maxLength":128,"format":"uri","title":"Catalogue
        of Life","cordra":{"preview":{"showInPreview":false}}},"literatureReference":{"type":"string","maxLength":128,"format":"handle","title":"Literature
        Reference","cordra":{"preview":{"showInPreview":false}}},"imageID":{"type":"string","maxLength":32,"title":"Image
        Id","cordra":{"preview":{"showInPreview":false}}},"availableImages":{"type":"array","items":{"type":"string","maxLength":128,"format":"uri","title":"Image"},"title":"Available
        images","cordra":{"preview":{"showInPreview":false}}},"bhlPages":{"type":"array","items":{"type":"string","maxLength":128,"format":"uri","title":"BHL
        page"},"title":"Biodiversity Heritage Library pages","cordra":{"preview":{"showInPreview":false}}}},"links":[{"rel":"self","href":"#objects/{id}"}]}

'
  recorded_at: Tue, 30 Apr 2019 23:04:44 GMT
recorded_with: VCR 4.0.0
