---
http_interactions:
- request:
    method: put
    uri: http://nsidr.org:8080/objects/20.5000.1025/newspecimen03
    body:
      encoding: UTF-8
      string: '{"id":"","midslevel":2,"scientificName":"Lissotriton vulgaris (Linnaeus,
        1758)","commonName":"Smooth newt","country":"Netherlands","locality":"Zuid-Holland,
        Voorschoten","decimalLat/Long":[],"recordedBy":"R. de Ruiter","collectionDate":"2008-09-02","catalogNumber":"RMNH.RENA.44084","otherCatalogNumbers":"","institutionCode":"RMNH","collectionCode":"Amphibia
        and Reptilia","stableIdentifier":"http://data.biodiversitydata.nl/naturalis/specimen/RMNH.RENA.38646","physicalSpecimenId":"RMNH.RENA.44084","identifier":"20.5000.1025/newspecimen03"}'
    headers:
      Authorization:
      - Basic ABCdEFghiJklm1Pqr2T3Vwx4
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Permission:
      - WRITE
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - "/objects/20.5000.1025/newspecimen03"
      X-Schema:
      - Digital Specimen
    body:
      encoding: UTF-8
      string: '{"id":"20.5000.1025/newspecimen03","midslevel":2,"scientificName":"Lissotriton
        vulgaris (Linnaeus, 1758)","commonName":"Smooth newt","country":"Netherlands","locality":"Zuid-Holland,
        Voorschoten","decimalLat/Long":[],"recordedBy":"R. de Ruiter","collectionDate":"2008-09-02","catalogNumber":"RMNH.RENA.44084","otherCatalogNumbers":"","institutionCode":"RMNH","collectionCode":"Amphibia
        and Reptilia","stableIdentifier":"http://data.biodiversitydata.nl/naturalis/specimen/RMNH.RENA.38646","physicalSpecimenId":"RMNH.RENA.44084","identifier":"20.5000.1025/newspecimen03"}'
  recorded_at: Mon, 18 Mar 2019 12:29:06 GMT
recorded_with: VCR 4.0.0
