---
http_interactions:
- request:
    method: post
    uri: http://nsidr.org:8080/call/?method=getVersionAtGivenTime&objectId=20.5000.1025/82752031921751eb6ab9
    body:
      encoding: UTF-8
      string: '{"timestamp":1575887300000}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": "20.5000.1025/82752031921751eb6ab9",
          "type": "DigitalSpecimen",
          "attributes": {
            "content": {
              "creationdatetime": "2019-12-09T10:24:35.255Z",
              "creator": "admin",
              "midslevel": 1,
              "scientificName": "test testing",
              "institutionCode": "cu",
              "physicalSpecimenId": "abc",
              "id": "20.5000.1025/82752031921751eb6ab9"
            },
            "metadata": {
              "createdOn": 1575887075255,
              "createdBy": "admin",
              "modifiedOn": 1575887075255,
              "modifiedBy": "admin",
              "isVersion": true,
              "versionOf": "20.5000.1025/82752031921751eb6ab9",
              "publishedBy": "admin",
              "publishedOn": 1575887078527,
              "txnId": 1575887078519039
            },
            "comparisonAgainstCurrentVersion": {
              "onlyOnLeft": {},
              "onlyOnRight": {
                "/authorReference": "Francisco Quevedo"
              },
              "differences": {
                "/creationdatetime": {
                  "left": "2019-12-09T10:24:35.255Z",
                  "right": "2019-12-09T10:27:19.086Z"
                },
                "/creator": {
                  "left": "admin",
                  "right": "20.5000.1025/d298a8c18cb62ee602b8"
                }
              }
            }
          },
          "elements": []
        }
  recorded_at: Mon, 09 Dec 2019 11:48:42 GMT
recorded_with: VCR 5.0.0
