---
http_interactions:
- request:
    method: post
    uri: http://nsidr.org:8080/call/?method=getVersionAtGivenTime&objectId=20.5000.1025/82752031921751eb6ab9
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-12-09T10:28:20.000Z"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": "20.5000.1025/82752031921751eb6ab9",
          "type": "DigitalSpecimen",
          "attributes": {
            "content": {
              "creationdatetime": "2019-12-09T10:27:19.086Z",
              "creator": "20.5000.1025/d298a8c18cb62ee602b8",
              "midslevel": 1,
              "scientificName": "test testing",
              "institutionCode": "cu",
              "physicalSpecimenId": "abc",
              "id": "20.5000.1025/82752031921751eb6ab9"
            },
            "metadata": {
              "createdOn": 1575887239086,
              "createdBy": "20.5000.1025/d298a8c18cb62ee602b8",
              "modifiedOn": 1575887239086,
              "modifiedBy": "20.5000.1025/d298a8c18cb62ee602b8",
              "isVersion": true,
              "versionOf": "20.5000.1025/82752031921751eb6ab9",
              "publishedBy": "admin",
              "publishedOn": 1575887242359,
              "txnId": 1575887242350042
            },
            "comparisonAgainstCurrentVersion": {
              "onlyOnLeft": {},
              "onlyOnRight": {
                "/authorReference": "Francisco Jose Quevedo Fernandez",
                "/country": "Spain"
              },
              "differences": {}
            }
          },
          "elements": []
        }
  recorded_at: Wed, 11 Dec 2019 19:01:42 GMT
recorded_with: VCR 5.0.0
