---
http_interactions:
- request:
    method: post
    uri: http://nsidr.org:8080/objects/?suffix=new_ds_test_01&type=Digital%20Specimen
    body:
      encoding: UTF-8
      string: '{"id":"","creator":"","midslevel":2,"scientificName":"newt","country":"uk","locality":"wales","decimalLatLong":[],"recordedBy":"abraham","collectionDate":"","catalogNumber":"002","otherCatalogNumbers":"00222","institutionCode":"CU","collectionCode":"CU0001","stableIdentifier":"SI0002","physicalSpecimenId":"none","Determinations":""}'
    headers:
      Authorization:
      - Basic YWJyYWhhbTpkc3Rlc3Q1Njc4
      Content-Type:
      - text/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - "/objects/20.5000.1025/new_ds_test_01"
      X-Schema:
      - Digital Specimen
    body:
      encoding: UTF-8
      string: '{"id":"20.5000.1025/new_ds_test_01","creator":"20.5000.1025/1517d545cc11283e2360","midslevel":2,"scientificName":"newt","country":"uk","locality":"wales","recordedBy":"abraham","collectionDate":"","catalogNumber":"002","otherCatalogNumbers":"00222","institutionCode":"CU","collectionCode":"CU0001","stableIdentifier":"SI0002","physicalSpecimenId":"none","Determinations":"","decimalLatLong":[]}'
  recorded_at: Sat, 16 Mar 2019 19:35:21 GMT
recorded_with: VCR 4.0.0
