---
http_interactions:
- request:
    method: get
    uri: http://nsidr.org:8080/objects/20.5000.1025/1a0beb212baaede1c10c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Permission:
      - READ
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - "/objects/20.5000.1025/1a0beb212baaede1c10c"
      X-Schema:
      - Digital Specimen
    body:
      encoding: ASCII-8BIT
      string: '{"id":"KS.191","timestamp":"2018-12-20T11:31:45.658Z","creator":"20.5000.1025/60c6d277a8bd81de7fdd","scientificName":"Salmo
        trutta","country":"Finland","locality":"Uusimaa (U),Inkoo","decimalLat/Long":[59.746793,23.77987],"recordedBy":"Nurminen,
        Katariina","collectionDate":"2002-11-14","catalogNumber":"2636","otherCatalogNumbers":"KK2827","collectionCode":"Luomus
        - Pisces","institutionCode":"MZH","stableIdentifier":"http://id.luomus.fi/KS.191","physicalSpecimenId":"KS.191","Determinations":"Yes"}'
  recorded_at: Sat, 16 Mar 2019 12:55:54 GMT
recorded_with: VCR 4.0.0
