---
http_interactions:
- request:
    method: post
    uri: http://nsidr.org:8080/call/?method=processEvent&objectId=20.5000.1025/82752031921751eb6ab9
    body:
      encoding: UTF-8
      string: '{"eventTypeId":"prov.994/46b7c3b13faa76b5af0f","agentId":"20.5000.1025/d298a8c18cb62ee602b8","roleId":"20.5000.1025/808d7dca8a74d84af27a","timestamp":"2019-12-11T19:11:58.799Z","description":"Testing:
        Specimen deposit in museum for exhibition","data":{"museumId":"20.5000.1025/2fd4b4e4525def2122bb"}}'
    headers:
      Authorization:
      - Basic ZnJhbmNpc2NvOmZyYW4xMjM0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"20.5000.1025/82752031921751eb6ab9","type":"DigitalSpecimen","content":{"id":"20.5000.1025/82752031921751eb6ab9","creationdatetime":"2019-12-09T10:27:19.086Z","creator":"20.5000.1025/d298a8c18cb62ee602b8","midslevel":1,"scientificName":"test
        testing","authorReference":"Francisco Jose Quevedo Fernandez","country":"Spain","institutionCode":"cu","physicalSpecimenId":"abc"},"metadata":{"createdOn":1575887239086,"createdBy":"20.5000.1025/d298a8c18cb62ee602b8","modifiedOn":1576090688282,"modifiedBy":"anonymous","txnId":1576090688275010,"internalMetadata":{}}}'
  recorded_at: Wed, 11 Dec 2019 19:12:01 GMT
recorded_with: VCR 5.0.0
