---
http_interactions:
- request:
    method: get
    uri: http://nsidr.org:8080/objects/20.5000.1025/B100003484?full=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Permission:
      - READ
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/objects/20.5000.1025/B100003484"
      X-Schema:
      - Digital Specimen
    body:
      encoding: ASCII-8BIT
      string: '{"id":"20.5000.1025/B100003484","type":"Digital Specimen","content":{"id":"20.5000.1025/B100003484","creator":"20.5000.1025/60c6d277a8bd81de7fdd","midslevel":2,"scientificName":"Agathis
        palmerstonii (F.Muell.)","country":"Australia","locality":"Queensland","decimalLat/Long":[],"recordedBy":"F.M.Bailey","collectionDate":"1932-04-08","catalogNumber":"B
        10 0003484","otherCatalogNumbers":"","institutionCode":"B","collectionCode":"Australia:
        Queensland","stableIdentifier":"http://herbarium.bgbm.org/object/B100003484","physicalSpecimenId":"B
        10 0003484","Determinations":"Yes"},"metadata":{"createdOn":1556103411020,"createdBy":"20.5000.1025/60c6d277a8bd81de7fdd","modifiedOn":1556103411020,"modifiedBy":"20.5000.1025/60c6d277a8bd81de7fdd","txnId":13}}'
  recorded_at: Mon, 29 Apr 2019 12:59:14 GMT
recorded_with: VCR 4.0.0
