---
http_interactions:
- request:
    method: get
    uri: http://nsidr.org:8080/objects/20.5000.1025/B100003484?full=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Permission:
      - READ
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - "/objects/20.5000.1025/B100003484"
      X-Schema:
      - Digital Specimen
    body:
      encoding: ASCII-8BIT
      string: '{"id":"20.5000.1025/B100003484","type":"Digital Specimen","content":{"id":"20.5000.1025/B100003484","creationdatetime":"2019-01-25T14:41:01.988Z","creator":"20.5000.1025/60c6d277a8bd81de7fdd","midslevel":2,"scientificName":"Agathis
        palmerstonii (F.Muell.) F.M.Bailey","commonName":"--","country":"Australia","locality":"Queensland","recordedBy":"L.
        J. Brass 2421","collectionDate":"1932-04-08","catalogNumber":"B 10 0003484","otherCatalogNumbers":"2421","institutionCode":"B","collectionCode":"Australia:
        Queensland","stableIdentifier":"http://herbarium.bgbm.org/object/B100003484","physicalSpecimenId":"B
        10 0003484","Determinations":"Yes","catOfLifeReference":"http://www.catalogueoflife.org/col/details/species/id/2dabb88156621856eede45d071d76f13/synonym/e082fe585f089db1d1c5ad170f89a25d","imageID":"206596","availableImages":["http://ww2.bgbm.org/Herbarium/specimen.cfm?idThumb=206596&SpecimenPK=4699&Loan=1&Flash=True&SpecimenSequenz=1","https://doi.org/10.5281/zenodo.1479085"],"bhlPages":["https://www.biodiversitylibrary.org/page/34929050#page/71/mode/1up","https://www.biodiversitylibrary.org/page/34928490#page/227/mode/1up","https://www.biodiversitylibrary.org/page/8897439#page/419/mode/1up"]},"metadata":{"createdOn":1548427261988,"createdBy":"20.5000.1025/60c6d277a8bd81de7fdd","modifiedOn":1549478313047,"modifiedBy":"admin","txnId":145}}'
  recorded_at: Wed, 10 Apr 2019 10:06:07 GMT
recorded_with: VCR 4.0.0
